---
import Avatar from '../Avatar.astro'
---

<div
  class="rounded-3xl bg-white p-8 shadow-sm transition-all duration-300 hover:shadow-md"
>
  <div class="flex items-center gap-4">
    <div class="h-16 w-16 flex-shrink-0 transition-transform duration-300">
      <Avatar />
    </div>
    <div class="flex-1 flex flex-col justify-between">
      <h1 class="text-3xl font-bold text-gray-900">yuler</h1>
      <div class="mt-2 text-sm font-medium text-gray-500">
        A programmer & father of two
      </div>
    </div>
  </div>
</div>
