---
import Layout from '../layouts/Layout.astro'
import Github from '../components/cards/Github.astro'
import X from '../components/cards/X.astro'
import Location from '../components/cards/Location.astro'
import Profile from '../components/cards/Profile.astro'
import Workout from '../components/cards/Workout.astro'
import Posts from '../components/cards/Posts.astro'
---

<Layout title="Yu Le — A programmer">
  <div class="bg-[#f5f5f5] px-4 py-8 md:py-12 overflow-hidden">
    <div class="mx-auto max-w-7xl h-full">
      <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
        <div class="flex h-full flex-col gap-4 lg:col-span-1">
          <Profile />
          <div class="grid grid-cols-2 gap-4">
            <Github />
            <X />
          </div>
          <Location class="flex-1" />
          <Workout class="flex-1" />
        </div>

        <div class="h-full lg:col-span-2">
          <Posts />
        </div>
      </div>
    </div>
  </div>
</Layout>
