---
import { ViewTransitions } from 'astro:transitions'

const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- Umami analytics -->
    <script
      defer
      src="https://us.umami.is/script.js"
      data-website-id="35bd5fdd-85cf-43e2-a07b-d8121d412e63"></script>
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>
